
body {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.movie-tracker {
  color: #FFF;
}

h3 {
  padding: 15px 0;
  font-weight: bold;
}

.home-title {
  text-align: center;
  display: block;
}

.movie {
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 3px rgba(153, 182, 176, 0.2), 0 6px 20px 3px rgba(153, 182, 176, 0.19);
  position: relative;
}

.movies-section {
  background-color: #161616;
}

.movie-content {
  margin: 0;
  background-color: #161616;
  color: #FFF;
  width: 400px;
  text-align: center;
  padding: 0 0 35px;
  border-radius: 10px;
}

.movie-content-title {
  color: #FFFFFF;
  font-size: 18px;
  margin: 5px auto;
  text-align: center;
  width: 80%;
}

.movie-content-poster {
  width: 250px;
  margin: 10px 0 10px 75px;
}

.movie-content-overview {
  font-size: 14px;
  width: 80%;
  margin: 5px auto;
}

.movie-content-data-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 80%;
  bottom: 0px;
}

.movie-content-data-container-sub {
  width: 130px;
}

.movie-content-data-title {
  color: #DDDDDD;
  font-size: 14px;
  margin: 5px auto;
}

.movie-content-data {
  width: 80%;
  margin: 5px auto;
  font-size: 14px;
}

.movie-selected {
  box-shadow: 0 4px 8px 3px rgba(128, 21, 21, 0.2), 0 6px 20px 3px rgba(128, 21, 21, 0.2);
}

.favorite {
  /*transform: rotate(-90deg);
  transform-origin: right top 0;*/
  position: absolute;
  color: white;
  bottom: 0;
  width: 400px;
  background-color: #161616;
  border: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 3px rgba(153, 182, 176, 0.2), 0 6px 20px 3px rgba(153, 182, 176, 0.19);
  height: 30px;
  outline: none;
  transition-duration: 0.2s;
}

.favorite:hover {
  color: #999999;
  transition-duration: 0.2s;
}

.favorite-selected {
  box-shadow: 0 4px 8px 3px rgba(128, 21, 21, 0.2), 0 6px 20px 3px rgba(128, 21, 21, 0.2);
  color: rgba(128, 21, 21);
}


.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #161616;
  margin-top: 5px;
  padding: 0 5px 30px 5px;
}

a {
  color: #FFF;
  font-size: 23px;
  text-decoration: none;
}

.failed-login {
  font-size: 25px;
  margin: 20px 0;
  padding-top: 15px;
  background-color: red;
  height: 50px;
  border-radius: 5px;
}

.selected {
  color: #395352;
  text-decoration: none;
}

.login-form {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.login-form:focus {
  background: #FAFAD2;
}

.create-account-form {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.create-account-form:focus {
  background-color: #FAFAD2;
}

.create-account-button {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  color: #FFFFFF;
  font-size: 18px;
  border: 1px solid rgba(153, 182, 176, 0.2);
  background-color: #161616;
}

.create-account-button:hover {
  background-color: rgba(153, 182, 176, 0.2);
}

#page {
  width: 100%;
  height: 100vh;
  background-color: #161616;
}

#navBar {
  background: url('../images/lights.jpg');
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 0 8px 3px rgba(153, 182, 176, 0.2);
  height: 75px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 330px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#CreateAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#create-account-title {
  color: #FFFFFF;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-title {
  color: #FFFFFF;
}

#login-button {
  color: #FFFFFF;
  font-size: 18px;
  background-color: #161616;
  border: 1px solid rgba(153, 182, 176, 0.2);
  width: 400px;
  border-radius: 5px;
  height: 30px;
}

#login-button:hover {
  background-color: rgba(153, 182, 176, 0.2);
}

.favorites-title {
  text-align: center;
  color: #161616;
}

.home-title {
  color: #FFFFFF;
}

.overview {
  padding: 45px 0;
  height: 200px;
}

.popup {
  border: 1px solid #777777;
  text-align: center;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
  background-color: white;
  color: black;
}

.popup-header {
  text-align: right;
}

.popup-exit-button {
  border: none;
  vertical-align: top;
  border-radius: 50%;
}

.popup-message {
  font-size: 25px;
}

.popup-buttons {
  display: flex;

}

.login-popup-button {
  background-color: #FC7169;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 22px;
}

.createAccount-popup-button {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 22px;
}

.single-movie {
  text-align: center;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
  background-color: white;
  color: black;
  padding-bottom: 20px;
}

.single-movie-title {
  text-align: center;
  font-weight: 700;
}

.single-movie-info {
  text-align: center;
}

.single-movie-poster {
  background-color: #000000;
  height: 50vh;
  margin: 0;
  border:1px solid #777777;
}

.single-movie-overview {
  font-size: 14px;
  text-align: center;
  margin: 15px auto;
  width: 80%;
}

.single-movie-data {
  font-size: 14px;
  margin: 15px auto;
  width: 80%;
}

.single-movie-favorite {
  color: white;
  width: 80%;
  background-color: #161616;
  border: none;
  box-shadow: 0 4px 8px 3px rgba(153, 182, 176, 0.2), 0 6px 20px 3px rgba(153, 182, 176, 0.19);
  height: 30px;
  outline: none;
}

.logout {
  display: flex;
  justify-content: center;
}

.logout-button {
  margin-top: 100px;
  color: #FFFFFF;
  font-size: 18px;
  background-color: #161616;
  border: 1px solid rgba(153, 182, 176, 0.2);
  width: 400px;
  border-radius: 5px;
  height: 30px;
}

.logout-button:hover {
  background-color: rgba(153, 182, 176, 0.2);
}
