.movie-tracker {
  color: #FFF;
}

h3 {
  padding-bottom: 15px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Open Sans', serif;
}

.home-title {
  text-align: center;
  display: block;
}

.movies-section {
  height: 100%;
  background-color: #161616;
}

.movie-content {
  margin: 0;
  background-color: #161616;
  color: #FFF;
  width: 400px;
  text-align: center;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #161616;
  margin-top: 5px;
  padding-bottom: 20px;
}

.movie {
  margin-top: 30px;
  box-shadow: 0 4px 8px 3px rgba(153, 182, 176, 0.2), 0 6px 20px 3px rgba(153, 182, 176, 0.19);
}

a {
  color: #FFF;
  font-size: 23px;
  text-decoration: none;
}

.failed-login {
  font-size: 25px;
  margin: 20px 0;
  padding-top: 15px;
  background-color: red;
  width: 60%;
  height: 50px;
  border-radius: 5px;
}

.selected {
  color: #395352;
  text-decoration: none;
}

.login-form {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-bottom: 20px;
}

.create-account-form {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  margin-bottom: 20px;
}

.create-account-button {
  height: 25px;
  border-radius: 5px;
  border: none;
  width: 400px;
  color: #FFFFFF;
  background-color: #161616;
}

#page {
  width: 100%;
  height: 100vh;
  background-color: #161616;
}

#navBar {
  background: url('../images/lights.jpg');
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 0 8px 3px rgba(153, 182, 176, 0.2);
  height: 75px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 330px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#CreateAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#create-account-title {
  color: #FFFFFF;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-title {
  color: #FFFFFF;
}

#login-button {
  color: #FFFFFF;
  background-color: #161616;
  border: none;
  width: 400px;
  border-radius: 5px;
  height: 30px;
}

.favorites-title {
  text-align: center;
  color: #161616;
}

.home-title {
  color: #FFFFFF;
}
